decorator==4.0.10
imageio==1.5
moviepy==0.2.2.11
numpy==1.10.4
oauthlib==1.1.2
pypng==0.0.18
redis==2.10.5
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
tqdm==4.7.4
tweepy==3.5.0
wsgiref==0.1.2
