{% extends "index.html" %}
{% block body %}
    <h1>Conway's Game of Life</h1>

    <div>
    {% if gif %}
        <p>Well done! Here's your gif:</p>
        <img src={{gif}} alt="conway.gif">
        </br>
        <a href={{gif}} download>Download</a>
        <p>Want to try again?</p>
    {% endif %}
    </div>
    <p>You can find some inspiration <a href="http://www.argentum.freeserve.co.uk/lex.htm">here</a>. Just make sure you only include new lines and the characters "O" (capital o) and "." (period), anything else will be ignored.</p>
    <textarea form ="pattern" name="input_pattern" id="taid" cols="80", rows="10" wrap="soft"></textarea>
    <form action="." method="POST" id="pattern">
        <input type="submit" name="pattern" value="Create a .gif">
    </form>
{% endblock %}
